{% extends "base.html" %}

{%block title%}API Documentation {%endblock%}

{% block content%}
<div class="container mx-auto">
    <article class="max-w-full prose">
        <h1 class=" sm:text-3xl md:text-4xl font-bold  ">API Documentation</h1>
        <p class="text-base sm:text-lg leading-relaxed">
            This API provides access to a variety of substitution ciphers. All endpoints support both
            <code>GET</code> and <code>POST</code> requests.
        </p>

        <div class="api-section card bg-base-200 card-border px-4 my-4">
            <h2 class="mt-2">Base Endpoint</h2>
            <p>The base URL for all cipher operations is:</p>
            <div class="card bg-primary p-2 px-4">/api/&lt;cipher_name&gt;</div>
            <p>Replace <code>&lt;cipher_name&gt;</code> with one of the supported ciphers listed below.</p>
        </div>

        <div class="api-section">
            <h2>Request Parameters</h2>
            <p>
                For <code>GET</code> requests, pass parameters in the query string. For <code>POST</code>
                requests, send a JSON body.
            </p>
            <div class="overflow-x-auto max-w-full rounded-box border border-base-content/5 table-zebra not-prose">
                <table class="table ">
                    <thead>
                        <tr>
                            <th>Parameter</th>
                            <th>Type</th>
                            <th>Required?</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-label="Parameter"><code>text</code></td>
                            <td data-label="Type">String</td>
                            <td data-label="Required?"><strong>Yes</strong></td>
                            <td data-label="Description">The input text to be encrypted or decrypted.</td>
                        </tr>
                        <tr>
                            <td data-label="Parameter"><code>action</code></td>
                            <td data-label="Type">String</td>
                            <td data-label="Required?">No</td>
                            <td data-label="Description">
                                The operation to perform. Can be <code>encrypt</code> or <code>decrypt</code>.
                                Defaults to <code>encrypt</code>.
                            </td>
                        </tr>
                        <tr>
                            <td data-label="Parameter"><code>keyword</code></td>
                            <td data-label="Type">String</td>
                            <td data-label="Required?">For
                                <code>mixed_alphabet</code>,<br><code>columnar_transposition</code>
                            </td>
                            <td data-label="Description">The keyword required for the Mixed Alphabet cipher.For Columnar
                                Transposition, it's the keyword.</td>
                        </tr>
                        <tr>
                            <td data-label="Parameter"><code>shift</code></td>
                            <td data-label="Type">Integer</td>
                            <td data-label="Required?">For <code>shift</code></td>
                            <td data-label="Description">The number of positions to shift for the Shift cipher.</td>
                        </tr>
                        <tr>
                            <td data-label="Parameter"><code>key</code></td>
                            <td data-label="Type">String</td>
                            <td data-label="Required?">For <code>simple_substitution</code>
                            </td>
                            <td data-label="Description">
                                A 26-character string for the Simple Substitution cipher key. If omitted, a
                                random key is generated.
                            </td>
                        </tr>
                        <tr>
                            <td data-label="Parameter"><code>key</code></td>
                            <td data-label="Type">Integer</td>
                            <td data-label="Required?">For <code>rail_fence</code>,<br><code>Scytale</code></td>
                            <td data-label="Description">The number of rails(key) for the Rail Fence cipher.For Scytale,
                                it's the
                                number of faces.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card bg-base-200 card-border px-4 my-4">
            <h2 class="mt-2">Supported Ciphers & Examples</h2>
            <p>Click on the links to see a live example.</p>
            <ul class="list">
                <li>
                    <strong>atbash</strong><br>
                    <a class="link link-primary" href="/api/atbash?text=hello"
                        target="_blank">/api/atbash?text=hello</a>
                </li>
                <li>
                    <strong>baconian</strong><br>
                    <a class="link link-primary" href="/api/baconian?text=hello"
                        target="_blank">/api/baconian?text=hello</a>
                </li>
                <li>
                    <strong>caesar</strong><br>
                    <a class="link link-primary" href="/api/caesar?text=hello"
                        target="_blank">/api/caesar?text=hello</a>
                </li>
                <li>
                    <strong>rot13</strong><br>
                    <a class="link link-primary" href="/api/rot13?text=hello" target="_blank">/api/rot13?text=hello</a>
                </li>
                <li>
                    <strong>polybius_square</strong><br>
                    <a class="link link-primary" href="/api/polybius_square?text=hello"
                        target="_blank">/api/polybius_square?text=hello</a>
                </li>
                <li>
                    <strong>simple_substitution</strong> (with random key)<br>
                    <a class="link link-primary" href="/api/simple_substitution?text=hello"
                        target="_blank">/api/simple_substitution?text=hello</a>
                </li>
                <li>
                    <strong>shift</strong> (requires <code>shift</code>)<br>
                    <a class="link link-primary" href="/api/shift?text=hello&shift=5"
                        target="_blank">/api/shift?text=hello&shift=5</a>
                </li>
                <li>
                    <strong>mixed_alphabet</strong> (requires <code>keyword</code>)<br>
                    <a class="link link-primary" href="/api/mixed_alphabet?text=hello&keyword=wednesday"
                        target="_blank">/api/mixed_alphabet?text=hello&keyword=wednesday</a>
                </li>
            </ul>
        </div>

        <div class="card bg-base-200 card-border px-4 my-4">
            <h2 class="mt-2">Transposition Ciphers</h2>
            <p>
                Transposition ciphers work by rearranging the order of the letters in the message.
            </p>
            <ul>
                <li>
                    <strong>rail_fence</strong> (requires <code>rails</code>)<br>
                    <a class="link link-primary" href="/api/rail_fence?text=helloworld&key=3"
                        target="_blank">/api/rail_fence?text=helloworld&key=3</a>
                </li>
                <li>
                    <strong>columnar_transposition</strong> (requires <code>key</code>)<br>
                    <a class="link link-primary" href="/api/columnar?text=helloworld&keyword=word"
                        target="_blank">/api/columnar?text=helloworld&keyword=word</a>
                </li>
                <li>
                    <strong>scytale</strong> (requires <code>key</code>)<br>
                    <a class="link link-primary" href="/api/scytale?text=helloworld&key=3"
                        target="_blank">/api/scytale?text=helloworld&key=3</a>
                </li>
            </ul>
        </div>

        <div class="card bg-base-200 card-border px-4 my-4">
            <h2 class="mt-2">Hashing API</h2>
            <p>
                The hashing endpoint returns the SHA-256 hash of the input text.
            </p>
            <div class="endpoint card bg-primary p-2 px-4">/api/hashing</div>
            <p>
                It requires a single parameter, <code>text</code>, which is the string to be hashed.
            </p>
            <ul>
                <li>
                    <strong>hashing</strong><br>
                    <a class="link link-primary" href="/api/hashing?text=hello"
                        target="_blank">/api/hashing?text=hello</a>
                </li>
            </ul>
        </div>
    </article>
</div>
{% endblock %}