{%extends "base.html"%}

{%block title%}Classial Ciphers {%endblock%}

{%block content%}

<div class="container m-4 mt-10 max-w-2xl mx-auto">
    <header class="mb-10">
        <h1 class="font-bold text-2xl ">retro_ciphers</h1>
        <p>Classical cipher implementation.</p>
    </header>

    <main>
        <div class="box">
            <form method="POST" id="cipher-form" action="{{url_for('crypto.convertor')}}">
                {# start #}

                {#
                POST keys:
                text : plain text that user sends
                algo : cipher algorithm user select
                keyword : keyword used for mixed_alphabet cipher algorithm
                action : perform a action i.e value: encrypt (to cipher the text), decrypt (to decipher the text),
                generate (neeed for simple_substitution cipher)
                #}

                <fieldset
                    class="fieldset bg-base-200 dark:bg-base-300 border border-base-300 rounded-box p-4 [&>*]:py-1.5">
                    {# textarea #}
                    <div class="form-group">
                        <label class="label block mb-2" for="text-input">Plain Text</label>
                        <textarea class="textarea w-full" id="text-input" name="text" placeholder="Enter your text here"
                            required>{{ text }}</textarea>
                    </div>

                    {# select #}
                    {# algo #}
                    <div class="form-group">
                        <label class="label block mb-2" for="algo-select">Cipher Algorithm</label>
                        <select class="select w-full" id="algo-select" name="algo">
                            <optgroup label="Monoalphabetic Substitution Ciphers">
                                <option value="caesar" {% if algo == "caesar" %} selected {% endif %}>Caesar</option>
                                <option value="shift" {% if algo == "shift" %} selected {% endif %}>Shift Cipher</option>
                                <option value="atbash" {% if algo == "atbash" %} selected {% endif %}>Atbash</option>
                                <option value="simple_substitution" {% if algo == "simple_substitution" %} selected {% endif %}>Simple Substitution</option>
                                <option value="polybius_square" {% if algo == "polybius_square" %} selected {% endif %}>Polybius Square</option>
                                <option value="baconian" {% if algo == "baconian" %} selected {% endif %}>Baconian</option>
                                <option value="rot13" {% if algo == "rot13" %} selected {% endif %}>Rot13</option>
                                <option value="mixed_alphabet" {% if algo == "mixed_alphabet" %} selected {% endif %}>Mixed Alphabet</option>
                            </optgroup>
                            <optgroup label="Polyalphabetic Substitution Ciphers">
                                <option value="alberti" {% if algo == "alberti" %} selected {% endif %}>Alberti</option>
                                <option value="trithemius" {% if algo == "trithemius" %} selected {% endif %}>Trithemius</option>
                                <option value="vigenere" {% if algo == "vigenere" %} selected {% endif %}>Vigenere</option>
                                <option value="beaufort" {% if algo == "beaufort" %} selected {% endif %}>Beaufort</option>
                                <option value="autokey" {% if algo == "autokey" %} selected {% endif %}>Autokey</option>
                            </optgroup>
                        </select>
                    </div>

                    {# keyword #}
                    <div class="form-group" id="keyword-group" style="display: none;">
                        <label class="label block mb-2" for="keyword-input">Keyword</label>
                        <input class="input w-full" id="keyword-input" name="keyword" placeholder="Enter keyword" value="{{ keyword }}">
                    </div>

                    {# input number (frequency) for alberti #}
                    <div class="form-group" id="frequency" style="display: none;">
                        <label class="label block mb-2" for="frequency">frequency</label>
                        <input
                          type="number"
                          min="1"
                          class="input w-full"
                          placeholder="How often to rotate the disk"
                          title="Rotate the disk"
                          name="frequency"
                          value="{{ frequency }}"
                        />
                    </div>

                    {# shift #}
                    <div class="form-group" id="shift-group" style="display: none;">
                        <label class="label block mb-2" for="shift-input">Shift Amount: <output>{{ shift }}</output></label>
                        <input class="range shift w-full" type="range" id="shift-input" name="shift" min="1" max="100"
                            value="{{ shift }}" oninput="this.previousElementSibling.querySelector('output').value = this.value">
                    </div>


                    {# cipher_alphabet #}
                    <div class="form-group" id="cipher-alphabets-group" style="display: none;">
                        <label class="label block mb-2" for="cipher-alphabets-input">Cipher Alphabet</label>
                        <div class="input-with-button flex content-around justify-between">
                            <input class="input w-full mr-4" id="cipher-alphabets-input" type="text"
                                name="cipher_alphabet" placeholder="Enter 26 unique letters or generate"
                                value="{{ cipher_alphabet or '' }}">
                            <button type="submit" name="action" value="generate"
                                class="btn btn-primary btn-outline">Generate</button>
                        </div>
                    </div>

                    {# toggle #}
                     <label class="label" id="toggle">
                        <input {% if toggle_value %} checked="checked" {% endif %} type="checkbox" name="toggle" class="checkbox checkbox-primary" />
                        Omit non-alphabetic characters
                     </label>

                    {# toggle #}
                     <label class="label" id="modern-implementation-toggle" style="display: none;">
                        <input {% if modern_implementation %} checked="checked" {% endif %} type="checkbox" name="modern-implementation-toggle" class="checkbox checkbox-primary" />
                        Modern Implementation
                     </label>



                    {# action #}
                    <div class="button-group">

                        <button class="btn btn-primary w-auto" type="submit" name="action"
                            value="encrypt">Encrypt</button>
                        <button class="btn btn-neutral btn-auto ml-4" type="submit" name="action"
                            value="decrypt">Decrypt</button>
                    </div>
                </fieldset>

                {% if result %}
                <div class="card bg-base-200 dark:bg-base-300 mt-4 border border-base-300">
                    <div class="card-body">
                        <h3 class="card-title mr-0">Result</h3>
                        <p class="text-md">{{ result }}</p>
                    </div>
                </div>
                {% endif %}

                {% if error%}
                <div class="card bg-base-200 dark:bg-base-300 mt-4 border border-base-300">
                    <div class="card-body">
                        <h3 class="card-title mr-0">Error</h3>
                        <p class="text-md text-red-500">{{ error }}</p>
                    </div>
                </div>
                {% endif %}
                {# end #}
            </form>
        </div>


    </main>
</div>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{%endblock%}